<header id="header">
    <h1 class="user-logo">
        <a href="/">
            <img class="photo-profile" src="/img/diogo-profile.jpg" alt="<%= config.author %>" />
        </a>
    </h1>
    <h2 class="user-name">
        <a class="user-name-link" href="/index.html"><%= config.author %></a>
    </h2>
    <p class="user-desc"><%= config.subtitle %></p>
    <nav class="nav-collapse">
        <ul id="nav">
            <li class="nav-item"><a class="nav-link<% if (is_current('about')){ %> active<% } %>" href="/about">About</a></li>
            <li class="nav-item"><a class="nav-link<% if (page.layout == 'post' || is_home()){ %> active<% } %>" href="/">Blog</a></li>
            <li class="nav-item"><a class="nav-link<% if (is_current('projects')){ %> active<% } %>" href="/projects">Projects</a></li>
            <li class="nav-item"><a class="nav-link<% if (is_current('contact')){ %> active<% } %>" href="/contact">Contact</a></li>
        </ul>
    </nav>
    <ul id="social">
        <li class="nav-social-item">
            <a target="_blank" class="nav-social-link icon-github-squared" href="https://github.com/diogomoretti">
                <span class="name-social">Github</span>
            </a>
        </li>
        <li class="nav-social-item">
            <a target="_blank" class="nav-social-link icon-linkedin-squared" href="http://linkedin.com/in/diogomoretti">
                <span class="name-social">Linkedin</span>
            </a>
        </li>
        <li class="nav-social-item">
            <a target="_blank" class="nav-social-link icon-twitter-squared" href="https://twitter.com/diogomoretti_">
                <span class="name-social">Twitter</span>
            </a>
        </li>
        <li class="nav-social-item">
            <a target="_blank" class="nav-social-link icon-gplus-squared" href="https://plus.google.com/+DiogoMoretti">
                <span class="name-social">Google Plus</span>
            </a>
        </li>
        <li class="nav-social-item">
            <a target="_blank" class="nav-social-link icon-facebook-squared" href="https://www.facebook.com/diogombb">
                <span class="name-social">Facebook</span>
            </a>
        </li>
    </ul>
</header>