.fa
  display: inline-block
  color: darken(color-font, 10%)
  font-family: 'FontAwesome'
  font-style: normal
  font-weight: normal
  line-height: 1
  margin-right: .8em
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  &.fa-white
    color: white

[class^="icon-"]:before, [class*=" icon-"]:before, .icone-class
  font-family "icons"
  font-style normal
  font-weight normal
  speak none
  display inline-block
  text-decoration inherit
  width 1em
  margin-right .2em
  text-align center
  font-variant normal
  text-transform none
  line-height 1em
  margin-left .2em

.icon-youtube
  &:before
    content '\e807'

.icon-email
  &:before
    content '\e806'

.icon-help-circled
  &:before
    content '\e80b'

.icon-tag
  &:before
    content '\e808'

.icon-link-ext
  &:before
    content '\e80a'

.icon-gplus-squared
  &:before
    content '\e805'

.icon-github-squared
  &:before
    content '\e800'

.icon-twitter-squared
  &:before
    content '\e802'

.icon-facebook-squared
  &:before
    content '\e803'

.icon-skype
  &:before
    content '\e801'

.icon-linkedin-squared
  &:before
    content '\e804'

.icon-calendar
  &:before
    content '\e80c'

.icon-link
  &:before
    content '\e809'

.fa-github:before
  content: "\f09b"

.fa-share:before
  content: "\f064"