-moz-::selection, ::selection
  background: color-primary
  color: #FFF

*
  box-sizing: border-box
  //transition: all .1s linear

body
  background: #fff //color-background
  color: color-font
  font-family: font-default
  font-size: 62.5%
  text-shadow: 0 0 1px transparent

h1, h2, h3, h4, h5, h6
  font-family: font-title
  line-height: 1.3em
  margin: .4em 0

h1
  font-size: 3.8em

h2
  font-size: 2.8em
  color: color-primary
  margin: 1.4em 0 .6em 0

h3
  font-size: 2.4em

h4
  font-size: 2em

h5
  font-size: 1.6em

h6
  font-size: 1.1em

p, ul
  font-size: 1.6em
  line-height: 1.8em

p
  font-family: font-default
  color: color-font
  strong
    font-weight: bold
  a
    color: black
    border-bottom: 1px solid #ccc
    text-decoration: none
    background: lighten(#f5f5f5, 60%)
    border-radius: 2px
    padding: 0 .3em
    //&[href^="http"]
    //  &:after
    //    @extend .fa
    //    @extend .transition
    //    content "\f08e"
    //    margin: 0 0 0 .3em
    //    color: #ccc          
    &:hover
      border-color: #999
    &:hover:after
      color: #999

///////==== Helper class
.clearfix
  clearfix()

.alignleft
  float: left

.alignright
  float: right

///////==== Structure
#header
  background: color-primary
  position: fixed
  width: 300px
  float: left
  top: 0
  left: 0
  bottom: 0
  padding: 10px 20px
  z-index: 10
  text-align: center

#main
  position: relative
  max-width: page-width
  padding: 4em 4em 4em 39em
  background: color-background-main

#comment
  margin: 3em 0
  padding: 10px 40px 10px 80px
  .title
    font-weight: normal
    margin-bottom: 15px

#pagination
  margin-top: 1em

#footer
  color color-meta
  margin-bottom 50px
  font 0.9em/1.6 font-title
  text-shadow 0 0 1px #fff

///////==== Navigations
#menu
  display: none

#nav
  list-style: none
  padding: 0
  text-align: center
  display: table
  margin: 1em auto
  .nav-item
    width: 100%
    display: block
    float: left
    .nav-link
      padding: .5em
      display: block
      width: 85%
      color: darken(white, 4%)
      font-size: 1em
      text-decoration: none
      border-radius: 3px
      margin: 2px auto
      &:hover, &.active
        @extend .transition
        color: white
        background: darken(color-primary, 10%)

#social
  list-style: none
  display: table
  text-align: center
  padding: 0
  margin: 1.4em auto
  .nav-social-item
    display: inline-block
    .nav-social-link
      font-size: 1.5em
      color: darken(color-primary, 15%)
      text-decoration: none
      text-align: center
      display: block
      &:hover
        @extend .transition
        color: white
      .name-social
        display: none
        visibility: hidden