///////==== Responsive rules
@media phone
  body
    padding: 0
    line-height: 1.7em
    font-size: 55%
 
  #header
    position: static
    display: table
    width: 100%
    padding: 0 3em

  #main
    padding: 13em 2em .5em 2em
    position: static
    display: block
    width: 100%

  .photo-profile
    width: 1.3em
    top: .4em
    left: .6em
    position: absolute

  .user-name
    font-size: 2.5em
    text-align: center
    margin: 1em 0 0 0

  .user-desc
    display: none

  .date-item
    position: static !important
    display: table !important
    margin: 1em auto 0 auto
    font-size: 1.3em

  #menu
    width: 1.4em
    height: 1.2em
    padding: 14px 6px
    top: .3em
    right: .3em
    position: absolute
    display: block
    font-size: 4em
    text-align: center
    color: white
    cursor: pointer
    z-index: 9999
    &.active
      background: rgba(38,38,38,.9)
      border-radius: 4px 4px 0 0

  #nav
    position: absolute
    background: rgba(38,38,38,.9)
    border-radius: 4px 0 4px 4px
    top: 2.7em
    right: .78em
    width: 60%
    list-style: none
    text-align: center
    padding: .8em 0
    z-index: 9999
    .nav-item
      .nav-link
        padding: .5em
        display: block
        font-size: 1.2em
        color: white
        text-decoration: none
        width: 90%
        &:hover
          background: #222
          border-radius: 3px
    &.responsive-menu
      display: none

  #social
    margin-top: 1em
    .nav-social-item
      .nav-social-link
        font-size: 1.6em
        margin: -2px

  .featured-image
    margin: 2em 0

  .project-item
    width: 100%
    margin: 1em 1em 5em 0
    padding: 0 3em 0 (project-item-photo - 1)
    .project-photo-wrapper
      max-width: project-item-photo - 3
      height: project-item-photo - 3

  .project-filter-title
    display: none !important

  .project-filter-item
    margin: .5em

  .select-my-projects li
    display: block
    margin: 1em 0
    + li
      margin-left: 0
    a
      display: block

@media tablet
  body
    line-height: 1.8em
    font-size: 55%

  #header
    width: 25em
    padding: 1em 2em
  
  #main
    position: relative
    max-width: 1500px
    padding: 1em 2em 3em 24.9em

  .photo-profile
    max-width: 70%

  .user-name
    font-size: 2.5em

  #social
    .nav-social-item
      .nav-social-link
        margin: -3px

  .project-item
    width: 100%
    margin: 1em 1em 5em 0

  .project-filter-item
    margin: .5em

  article
    padding: 10px 40px 10px 80px