.photo-profile
  border-radius: 50%

.user-logo
  margin-bottom: 0

.user-name
  margin: 0

.user-desc
  font-size: 1.4em
  margin-top: 0

.user-name-link
  color: darken(color-font, 25%)
  text-decoration: none
  &:hover
    color: darken(color-font, 10%)

// Buttons
.btn
  display: inline-block
  padding: .7em 1.2em
  background: color-border
  border: none
  border-radius: 3px
  margin: .6em .6em .6em 0
  &:hover
    background: darken(color-border, 10%)
  &.btn-primary
    background: color-primary
    color: white !important
    &:hover
      background: darken(color-primary, 7%)
  &.btn-info
    background: color-link
    color: white !important
    &:hover
      background: darken(color-link, 7%)
  &.btn-success
    background: btn-bg-success
    color: white !important
    &:hover
      background: darken(btn-bg-success, 15%)
  &.btn-small
    font-size: .8em
    padding: .4em .9em
    vertical-align: center
  &.btn-radius
    border-radius: .5em
  &.btn-link
    background: none
    color: color-link
    &:hover
      color: darken(color-link, 25%)
      text-decoration: underline