// Color
color-primary    	   = #34495e
color-background 	   = #363635
color-background-main  = #fff
color-font       	   = #555
color-meta       	   = #999
color-border     	   = #ddd
color-link       	   = #000

// Button
btn-size-shadow  = 3
btn-bg-success   = #2ecc71
btn-bg-info      = #3498db

// Projects colors
color-project-website     = #e74c3c
color-project-open-source = btn-bg-success
color-project-community   = btn-bg-info

// Generate fonts
webfont('ralewaybold', 'raleway-bold-webfont', true)
webfont('icons', 'icons', true)
webfont('FontAwesome', 'fontawesome-webfont', false)

// Font
font-default     = "Open Sans", Arial, helvetica, sans-serif
font-title       = "ralewaybold", Arial, helvetica, sans-serif
font-serif       = "Georgia", serif
font-mono        = Monaco, Menlo, Consolas, Courier New, monospace
font-icon        = FontAwesome

// Sintax Hightlight
sh-bg            = #444
sh-text          = #eee

// Width
page-width = 1200px

///////==== Responsive devices
phone     = "only screen and (max-width:680px)"
tablet    = "only screen and (min-width:681px) and (max-width:1100px), (min-device-width: 768px) and (max-device-width: 1300px)"