// Color
color-primary    = #f15d59
color-background = #363635
color-font       = #555
color-meta       = #999
color-border     = #ddd
color-link       = #4e90fe

// Button
btn-bg-success   = green

// Font
font-default     = "Open Sans", Arial, helvetica, sans-serif
font-title       = "FengardoNeueRegular", Arial, helvetica, sans-serif
font-serif       = "Georgia", serif
font-mono        = Monaco, Menlo, Consolas, Courier New, monospace
font-icon = FontAwesome
font-icon-path = '../fonts/fontawesome-webfont'

// Width
page-width = 1200px