icon-size = 32px
icon-gap = 25px

///////==== Articles

article
  margin-bottom: 2em
  position: relative

  h2
    border-bottom: 1px solid #eee
  
  &.post
    &:after
      position: absolute
      width: 1em
      height: 1em
      display: block
      background: #000
      margin: 0 auto
      top: 20px
      left: 500px

  // Featured Image
  .feature-box
    max-width: 1000px
    height: 150px
    overflow: hidden
    position: relative
    //filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale")
    //filter: gray
    //-webkit-filter: grayscale(100%)
    background-size: cover
    background-position: center center
    display: block
    text-decoration: none
    @media tablet
      height: 120px
    @media phone
      height: 100px
  .feature-credits
    position: absolute
    right: 10px
    bottom: 10px
    background: rgba(#fff, .2)
    color: white
    padding: .2em .5em
    z-index: 2

  // Header post
  header
    position: relative
    .date-item
      color: color-meta
      margin-bottom: 5px
      display: block
      line-height: 1
      position: absolute
      left: -9em
      top: 3em
      padding: .5em .6em
      background: #eee
      .link-time-item
        text-decoration: none
        font-size: 1.2em
        color: #666
    .title
      font-weight: normal
      border-bottom: 1px solid #eee
      display: inline-block
      a
        color: color-font
        text-decoration: none
        &:hover
          color: color-primary
  
  // Post
  .entry
    line-height 1.6
    blockquote, ul, ol, dl, table, iframe, h3, h4, h5, h6, .video-container
      margin-top: 1.5em
    p
      margin-bottom: 1.2em

    blockquote
      font-size: 1.5em
      line-height: 1.8em
      color: #aaa
      margin: 2.8em 3em 1.5em 3em
      cite
        display: table
        color: #666
        margin-top: .4em
        border-bottom: 1px dashed #eee
      &:before
        content: "\201C"
        position: absolute
        font-size: 5em
        margin-left: -.58em
        margin-top: .3em
        font-family: "Georgia", Times, serif

    code, pre
      font-family: font-mono

    code
      background: #eee
      color: #555
      padding: 1px 6px
      margin: 0 2px
      font-size: 0.9em
      border: 1px solid darken(#ddd, 5%)
      border-radius: 3px

    ul, ol, dl
      li
        margin-bottom: 1em
        a
          color: black
          border-bottom: 1px solid #ccc
          text-decoration: none
          background: lighten(#f5f5f5, 60%)
          border-radius: 2px
          padding: 0 .3em       
          &:hover
            border-color: #999
          &:hover:after
            color: #999
      ul, ol, dl
        margin-top 0

    h1
      font-weight normal
      border-bottom 1px solid color-border
      padding-bottom 10px
      margin-top 20px

    h2, h3, h4, h5, h6
      font-weight normal

    img, video
      max-width 100%
      height auto
      border none

    iframe
      border none

    .caption
      display block
      margin-top 5px
      color color-meta
      position relative
      font-size 0.9em
      padding-left 25px
      &:before
        content '\f040'
        position absolute
        font 1.3em font-icon
        position absolute
        left 0
        top 3px

    .video-container
      position: relative
      padding-bottom: 56.25%
      padding-top: 30px
      height: 0
      overflow: hidden
      iframe, object, embed
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        margin-top: 0

    .pullquote
      float right
      border none
      padding 0
      margin 1em 0 0.5em 1.5em
      text-align left
      width 45%
      font-size 1.5em

  footer
    color: #999
    font-size: 0.9em
    line-height: 16px
    position: relative
    min-height: 16px
    &.footer-inner
      padding: 1em .4em 1.4em 2.5em
      margin: 3em 0 1em 0
      background: lighten(#f5f5f5, 70%)
      box-shadow: 0 3px 0 #eee
      //border-left: .5em solid color-primary
    a
      color: color-meta
      &:hover
        color: color-link
        text-decoration: none
      &:before
        font: 1.1em font-icon
        padding-right: 10px
        vertical-align: middle

      &.more-link
        &:before
          content: '\f054'

      &.comment-link
        &:before
          content: '\f075'

    .categories, .tags, .author, .time
      position: relative
      padding-left: 25px
      margin: .5em 2em 0 0
      display: inline-block
      a
        font-size: 1.6em
        margin-left: 3px
        text-decoration: none
      &:before
        position: absolute
        font: 2em font-icon

    .categories
      &:before
        content: '\f07b'
        top: 1px
        left: 0

    .author
      &:before
        content: '\f007'
        top: 1px
        left: 5px

    .time
      &:before
        content: '\f017'
        top: 1px
        left: 5px

    .tags
      &:before
        content: '\f02b'
        top: 1px
        left: 5px

    .addthis
      margin-top: 15px
      iframe
        margin-top: 0
