<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/header') %>
  <section id="main">
  	<%- partial('_partial/main') %>
  </section>
  <%- partial('_partial/after_footer') %>
</body>
</html>