@import 'nib'

@import '_vendor/normalize'

@import '_base/grid'
@import '_base/mixins'
@import '_base/variable'
@import '_base/fonts'
@import '_base/utils'
@import '_base/layout'

@import '_partial/archive'
@import '_partial/article'
@import '_partial/projects'
@import '_partial/contact'
@import '_partial/syntax'

@import '_base/responsive'